<!DOCTYPE html>
<html>

<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<body>


    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <ul>
                        <li ng-repeat="todo in todos">
                            <input type="checkbox" ng-model="todo.selected" />
                            <span class="done-{{todo.selected}}">{{todo.text}}</span>
                        </li>
                    </ul>
 
                    <form>
                            <input class="input" placeholder="New Todo" type="text" ng-model="todoText"  />
                            <button class="btn" ng-click="add()"> Add </button>
                          </form>
                </div>
            </div>

        </div>
    </div>


    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function ($scope) {


            $scope.getTotalTodos = function () {
                return $scope.todos.length;
            };


            $scope.todos = [
                { text: 'First Todo', selected: false },
                { text: 'Second Todo', selected: true }
            ];


            $scope.add = function () {
                $scope.todos.push({ text: $scope.todoText, selected: false });
                $scope.todoText = '';
            };

           
           

        });
    </script>

</body>

</html>